<mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
        <div class="-left">
            <mat-icon>event</mat-icon>
            <span> Task Manager by Inspire95</span>
        </div>

        <div class="-right">

            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="doSignOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
