<section class="auth">
    <div class="card">
        <h1 class="card__title">Task Manager</h1>
        <div class="card__content">
            <form [formGroup]="frmAuth">
                <app-input-validation-container>
                    <mat-form-field>
                        <input matInput placeholder="E-mail" type="email" formControlName="email" />
                    </mat-form-field>
                </app-input-validation-container>
                <app-input-validation-container>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" formControlName="password" />
                    </mat-form-field>
                </app-input-validation-container>
                <button [disabled]="!frmAuth.valid" mat-raised-button color="primary">Signin</button>
            </form>
            <a [routerLink]="['/signup']">Signup</a>
        </div>
    </div>
</section>
