@import "../../assets/styles/abstracts/_variables";
.auth {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;

    width: 100%;
    height: 100vh;

    background: #4b79a1;
    background: -webkit-linear-gradient(to right, #283e51, #4b79a1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #283e51,
        #4b79a1
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    button {
        margin-top: 3px;
    }
    
    a {
        cursor: pointer;
        text-align: right;
        margin-top: 5px;
        font-size: 1.3rem;
        color: $color-primary;
    }

    #login-fab {
        border-radius: 50%;
        height: 56px;
        margin: auto;
        min-width: 56px;
        width: 56px;
        overflow: hidden;
        background: rgb(63, 81, 181);
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
        margin-top: -35px;
        text-align: center;
        left: 0;
        right: 0;
    }

    #lock-icon{
        line-height: 56px;
        color: #FFF;
    }
}